.container {
  box-sizing: border-box;
  text-align: center;
  &__title {
    text-align: center;
    color: rgb(6, 84, 253);
  }
  &__menu {
    display: inline-block;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: black;

  }
  &__menu:hover{
    color: rgb(6, 84, 253);
    text-decoration: underline;

  }
  
}
